* {
    box-sizing:border-box;

}

hr {
    height: 3px;
}

body {
    background-color: #ffffc9;
    font-family: sans-serif;
}

h1 {
    font-family:'Righteous';
    text-align:center;
}

#wrapper {
    background-color:yellow;
    margin:0 auto;
    padding-top:5px;
	min-width:1080px; max-width: 1080px;
    overflow:auto;
    background-image:url(legalPad.png);
    background-size:1750px 600px;
}

nav {
    width:20%;
    float:left;
    margin:auto;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    min-width: 180px;
    background-color:#00000011;
    height:1000px;
}

nav img {
    display:block;
    margin:auto;
    width:70%;
    border-radius:8px;
}

#teacherinfo {
        font-size:80%;
        line-height: 1.5;
}

nav ul {
    margin-left:-20px;
    padding:0;
    width:120%; /* WHY DOES THIS WORK THIS WAY */
}

.secondarynav ul {
    width:80%;
}

nav ul li, .secondarynav ul li {
    margin:0;
    list-style-type: none;
    width:100%;
}

nav ul li a, .secondarynav ul li a {
    display:block;
    width:100%;
    padding: 8px 48px;
    font-size:95%;
}

nav ul li a:hover, .secondarynav ul li a:hover, .links a:hover {
    background-color:purple;
    color:white;
}

.links {
    display:inline;

}

.links a {
    display:inline-block;
    padding:10px;
    width:48%;
    text-align:center;
    border:1px solid purple;
    text-decoration: none;
}

footer {
   	font-size: 70%;
    padding: 10px;
    clear:both;
    text-align:center;
}

header,footer {
    background-color:lightcyan;
}

header {
    padding:15px 0;
    font-size: 120%;
}

main {
    width:80%;
    float:left;
    padding:20px;
    background-color:#ffff9966;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
    font-size: 120%;
  transition: 0.4s;
}

.active, .accordion:hover, .subaccordion:hover, .inneraccordion:hover{
  background-color: #ccc; 
}

.subaccordion {
  background-color: #C096BF;
  color: #333;
  cursor: pointer;
  padding: 14px;
    margin-left:10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 100%;
  transition: 0.4s;
    margin-top:10px;
}

.inneraccordion {
  background-color: #e2cfe2;
  color: #333;
  cursor: pointer;
  padding: 14px;
    margin-left:10px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 100%;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #ffffff55;
  overflow: hidden;
}

.subacc_panel {
  padding: 0 18px;
  margin-left:10px;
    margin-right:-10px;
  display: none;
  background-color: #ffffff55;
  overflow: hidden;
}

.innerpanel {
  padding: 0 18px;
    width:90%;
  margin-left:10px;
    margin-right:-10px;
  display: none;
  background-color: #ffffff55;
  overflow: hidden;
}

article {
    clear:both;
    line-height: 120%;
}

article h4 {
    text-decoration: underline;
}

article li {
    margin:10px;
}
    
.vidgal {
    display:flex;
    justify-content: space-around;
    flex-flow:row wrap;
    width:100%;
    height:auto;
    border:1px solid black;
    padding:10px;
}

.vidgal div {
    border-right:1px solid black;
    padding:0px 5px 0px 10px; 
}

.vidgal div:last-child {
    border:none;
}

.hocgal {
    display:flex;
    justify-content: space-around;
    flex-flow:row wrap;
    width:100%;
    height:auto;
    border:1px solid black;
    padding:10px;
}

.hocgal div {
    border-right:1px solid black;
    margin-left:1%;
}

.hocgal div:last-child {
    border:none;
}

.galleryitem {
    margin:auto;
    width:100%;
}

.galleryitem img {
    margin:auto;
}

.flexgallery {
    display:flex;
    flex-flow:column wrap;
    height:520px;
}
    
.flexgallery a {
    margin: 5px;
    border: 1px solid #ccc;
    width:20%;
    margin:auto;
}

.flexgallery img {
        width:100%;
}
    
.flexgallery a:hover {
    border: 1px solid #222;
}
    
.right30 {
    float:right;
    width:25%;
}
    
.left70 {
    float:left;
    width:70%;
}
    
strong {
    font-weight:800;
}
    
.puntins {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    width:50%;
    margin-bottom:40px;
}

.puntins img {
    width:100px;
    height:100px;
}
    
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
    
.leftcol {
    width:50%;
    float:left;
}

.rightcol {
    width:50%;
    float:right;
}

.goals {
    font-size:80%;
    font-style:italic;
    margin:auto;
    background-image:url("target.png");
    background-repeat:no-repeat;
    background-position:right center;
    background-size: 150px 150px;
    width:70%;
    border:1px solid gray;
    padding:10px;
}

.review {
    font-size:90%;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
    width:75%;
    border:2px dashed gray;
    padding-left:10px;
}

.goals li {
    list-style-image: url("checkbox.png"); 
    list-style-position: inside;
}

.nextbutton {
    display:inline;
}

.go_on {
    display:inline;
    margin-left:10%;
    font-size:90%;
    color:#222;
}

#findpics {
    font-size:90%;
    font-style:italic;
    margin:auto;
    background-size: 150px 150px;
    width:80%;
    border:1px solid gray;
    padding:10px;
}

.articleimg {
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
}

.articleimg img {
    width:100%;
}

.secretlink {
    text-decoration: none;
    color:black;
}

a.demo_img {
		display: block;
		width:300px;
		position:relative;
		line-height:25px;
	}
	
	a.demo_img>div {
		position:absolute;
		padding:0;
		margin:0;
        width:100%;  
        overflow:auto;
		left: 100px; /* change this value to one that works best for you */
		top: -18px; /* change this value to one that works best for you */
		background: transparent url(/generator/show-clickable-imge-link-on-hover_files/arrow-down-grey.png) left 23px no-repeat;
		
		opacity:0;
		height: 0;
		overflow: hidden;
	}
	
	a.demo_img>div img {
		padding:8px;
		margin-left:4px;
        width:100%;
        height:100%;
		border:1px solid #BCBDC0;
		background-color:#BCBDC0;
		-webkit-border-radius: 5px;
	   	   -moz-border-radius: 5px;
		    	border-radius: 5px;
		
		-webkit-box-sizing:border-box; 
		   -moz-box-sizing:border-box; 
				box-sizing:border-box;
	}
	a.demo_img:hover>div {
		
		opacity:1;
		padding: 8px;
        height:auto;
        width:200%;
		
		z-index:1;
	}